<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
    
    <bean id="emp3" class="com.module.Employee">
    
    <constructor-arg value="103"></constructor-arg>
    <constructor-arg value="Alex"></constructor-arg>
    <constructor-arg value="40000"></constructor-arg>
    <constructor-arg value="Manager"></constructor-arg>
     <constructor-arg>
     <list>
     <ref bean="add1"/>
     <ref bean="add2"/>
     
     </list>
     </constructor-arg> <!-- passing the reference of address object to employee object -->

    
    </bean>
    
    <bean id="emp4" class="com.module.Employee2">
    
    <constructor-arg value="104"></constructor-arg>
    <constructor-arg value="Abhay"></constructor-arg>
    <constructor-arg value="30000"></constructor-arg>
    <constructor-arg value="Designer"></constructor-arg>
     <constructor-arg>
     <list>
     <ref bean="add1"/>
     <ref bean="add2"/>
     
     </list>
     </constructor-arg>
     </bean>
     
      <bean id="b1" class="com.module.Branch">
    <constructor-arg value="1"></constructor-arg>
    <constructor-arg value="indore"></constructor-arg>
    </bean>
    
     <bean id="org1" class="com.module.Organization">
    <constructor-arg value="101"></constructor-arg>
    <constructor-arg value="TCS"></constructor-arg>
    <constructor-arg>
    <map>
      <entry key-ref="emp4" value-ref="b1"></entry>
    </map>
    </constructor-arg>
    
    
    
    
    </bean>

</beans>
